body {
	background-color: coral;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	backdrop-filter: blur(10px);
	height: 110vh;
}

html::-webkit-scrollbar {
	background-color: #000;
	width: 12px;
	border-radius: 10px;
}

html::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

html::-webkit-scrollbar-thumb {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #a520ca),
		color-stop(1, #2681cc)
	);
	border-radius: 10px;
}
